body{ 
    background-color: #C4F0C6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

section{
    border: 1px dotted black;
    padding: 1px;
    margin: 1px;

}

h1, p{
    text-align: center;
    
}

h2 {
    background-color: #A7C6D9;
    text-align: center;
}

div{
    border: 1px solid black;
    padding: 1px;
    margin: 1px;
}

footer{
    color: #21A0FF;
}

.botoes{
    background-color: #A7C6D9;
    width: 100px;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.centtabela{
    margin: auto;
}


